/*
document body
*/



body{
  background: #292C35;
}

/* app body */

.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

/* header section */

.App-header {
  background-color: #3F51B5;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p{
  margin: 0;
}


/* page data body */
#data-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* seach input section */
.search-wrapper {
 margin-top: 20px;
 background: white;
 width: 260px;
 margin-bottom: 40px;
 padding-top: 3px;
 padding-bottom: 3px;

}



button {
  background: #3F51B5;
  border: none;
  padding: 5px;
  border-radius: 3px;
  margin-left: 4px;
  font-weight: bold;
}

input[type="search"]{
  font-weight: 100;
  color: slategrey;
  border: none;
}



/* table section */

.table{
  background: white;
  width: 80vw;
}

thead{
  background: #FFB563;
}

