/*
document body
*/



body{
  background: #292C35;
  margin: 0;
  padding: 0;
}

/* app body */

.App {
  text-align: center;
  box-sizing: border-box;
}


/* header section */

.App-header {
  background-color: #3F51B5;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-header p{
  margin: 0;
}


/* page data body */
#data-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* seach input section */
.search-wrapper {
 margin-top: 20px;
 background: white;
 width: 260px;
 margin-bottom: 40px;
 padding-top: 3px;
 padding-bottom: 3px;
}



/* button {
  background: #3F51B5;
  border: none;
  padding: 10px;
  border-radius: 3px;
  margin-left: 4px;
  font-weight: bold;
  font-size: 10px;
  width: 70px;
} */

input[type="search"]{
  font-weight: 100;
  border: none;
}


input[type="submit"]{
  font-weight: 500;
  background: #3F51B5;
  border-radius: 3px;
  font-size: 15px;
  margin-left: 4px;
  border: none;
}


/* table section */

.table{
  background: white;
  font-size: 10px;
  font-weight: bold;
}

thead{
  background: #FFB563;
}

th,td{
  min-width: 130px;
}

@media only screen and (min-width: 576px){

  .table {
    width: 50px;
    font-size: 5px;
  }

  th,td{
    min-width: 10px;
  }
}

@media only screen and (min-width: 768px) {
  #data-body{
    padding-left: 20px;
    padding-right: 20px;
  }

  input[type="search"]{
    width: 67%;
  }

  .table {
    width: 100%;
    font-size: 10px;
  }

  th,td{
    min-width: 50px;
  }
}

  @media only screen and (min-width: 992px){
    #data-body{
      padding-left: 20px;
      padding-right: 20px;
    }

    .table {
      width: 100%;
      font-size: 10px;
    }
  
    th,td{
      min-width: 50px;
    }
  }
